<header>
    <div class="container">
        <a routerLink="/"> Mine Food Store!</a>
        <nav>
            <ul>
                <li><a routerLink="/login"> Login </a></li>
                <li class="menu-container">
                    <a routerLink="/me"> Me </a>
                    <div class="menu">
                        <a routerLink="/profile"> Profile </a>
                        <a routerLink="/orders"> Orders </a>
                        <a> Log out </a>
                    </div>
                </li>
                <li><a routerLink="/cart"> Cart <span>4</span></a></li>

            </ul>
        </nav>

    </div>
</header>
